* {
	margin: 0;
	padding: 0;
}
.clearfix {
	overflow: auto;
	zoom: 1;
}

#container {
	width: 960px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#charts {
	float: left;
	width: 700px;
	padding-right: 10px;
}

#legend {
	float: right;
	width: 250px;
}

a.canvasjs-chart-credit {
	color: white;
}

div.chart-container {
	width: 350px;
	height: auto;
	float: left;
}
div.chart-container h2 {
	text-align: center;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 24px;
	margin-bottom: 10px;
}

div.chart {
	float: left;
	width: 345px;
	height: 345px;
}
div.chart.loading {
	background: url("../img/ajax-loader.gif") no-repeat center center;
}

#legend ul {
	list-style-type: none;
	height: 702px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 35px;
	background: rgba(0,0,0,0.1);
	padding: 10px 0;
}
#legend .domain {
	float: right;
	display: block;
	overflow: scroll;
	width: 191px;
}
#legend li a {
	text-decoration: none;
	font-size: 12px;
	color: #000;
	display: block;
	width: 210px;
	padding: 7px 20px;
}
#legend ul span.bullet {
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	border-radius: 50%;
	margin-top: 3px;
	margin-right: 6px;
}

#legend li.selected a {
	background: #000;
	color: #fff;
	font-weight: bold;
}

p.credit {
	clear: both;
	text-align: center;
}
p.credit a, p.credit a:visited {
	color: #555;
}