* {
	margin: 0;
	padding: 0;
}
.clearfix {
	overflow: auto;
	zoom: 1;
}

body {
	background: "#fff";
}

#container {
	width: 960px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#charts {
	float: left;
	width: 700px;
}

#legend {
	float: right;
	width: 220px;
}

a.canvasjs-chart-credit {
	color: white;
}

div.chart-container {
	width: 350px;
	height: auto;
	float: left;
	margin-bottom: 15px;
}
div.chart-container h2 {
	text-align: center;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 24px;
	margin-bottom: 10px;
}

div.chart {
	float: left;
	width: 345px;
	height: 345px;
}
div.chart.loading {
	background: url("ajax-loader.gif") no-repeat center center;
}

#legend ul {
	list-style-type: none;\
}
#legend li {
	font-size: 14px;
	margin-bottom: 7px;
}
#legend ul span.bullet {
	width: 12px;
	height: 12px;
	display: block;
	float: left;
	border-radius: 50%;
	margin-top: 3px;
	margin-right: 6px;
	background: red;
}

p.credit {
	clear: both;
}